// body {
//     margin: 0;
//     height: 100vh;
//     //cursor: none;
//     background: rgb(27, 27, 27);
// }
 .p5test {
     overflow: hidden;
    //  height: 500px;
    //  margin-top: 100px;
    //  margin: 0 auto;
 }

.cursor {
    // --left: 0px;
    // --top: 0px;
    // transform: translate(-50%, -50%);
    z-index: 200;
	position: fixed;
    width: 80px;
    height: 80px;
     top: var(--top);
     left: var(--left);

    border: 1px solid black;
    border-radius: 50%;
    // position: absolute;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    // top: -8px;
    // left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
        opacity: .6;
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
        opacity: .2;
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .7;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid white;
}

// p {
//   color: white;
//   font-family: 'arial';
//   text-align: center;
//   margin-top: 50px;
//   font-size: 1.4em;

//   a {
//     color: teal;
//   }
// }