<!DOCTYPE html>
	<html>

		<head>
			<meta charset='utf-8'>
			<meta http-equiv='X-UA-Compatible' content='IE=edge'>
			<title>eleventy blog sample</title>
			<meta name='viewport' content='width=device-width, initial-scale=1'>
			<link rel='stylesheet' type='text/css' media='screen' href='../assets/main.css'>
			<script src='../assets/main.js'></script>
		</head>
		<body>
			<header>
				<em>
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</em>
				{% include "nav.njk" %}
			</header>
			<main>
				<h1>eleventy blog sample</h1>
				{{ content | safe }}
			</main>
			{% include "footer.njk" %}
		</body>
	</html>