---
layout: base.njk
section: blog
permalink: /blog/index.html
---

<div class="row">
	<div class="column">
		<h1>{{ title }}</h1>

		{{ layoutContent | safe }}

		{% set postslist = collections.posts %}
		{% include "postslist.njk" %}
	</div>
</div>
