---
title: test
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink: /test/index.html
eleventyNavigation:
  key: test
  order: 1
---

<div class="cursor"></div>


<div data-scroll-container class="locomotive-images js-locomotive-images">
<div class="project">
<div class="project-image" data-scroll>
<div class="image-container">
<img
  class="project--image-img"
  src="/assets/images/photography/black/Black_014.jpg"			/>
</div>
</div>

<div data-scroll class="project-content">
<h4 class="project--number" data-scroll>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.12" data-scroll-speed="3">2</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.10" data-scroll-speed="2">0</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.08" data-scroll-speed="1.2">2</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.09" data-scroll-speed="2">0</span>
</h4>
<h1 class="project--heading" data-scroll>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.13" data-scroll-speed="2">M</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.11" data-scroll-speed="2">a</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.09" data-scroll-speed="2">r</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.08" data-scroll-speed="2">k</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.09" data-scroll-speed="2">u</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.06" data-scroll-speed="2">s</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.23" data-scroll-speed="2">M</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.20" data-scroll-speed="2">o</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.14" data-scroll-speed="2">r</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.10" data-scroll-speed="2">l</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.09" data-scroll-speed="2">e</span>
	<span class="project--heading--span" data-scroll data-scroll-delay="0.08" data-scroll-speed="2">y</span>
</h1>
<h4 class="project--role" data-scroll data-scroll-speed="4">FRONTEND<br />DEVELOPER</h4>

</div>

</div>
<div class="home-hero_001">
<div class="row">
<div class="home-hero_001__action" data-scroll data-scroll-speed="16">
	<a href="">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="416"
			height="416"
			viewBox="0 0 416 416"
		>
			<defs>
				<clipPath id="clip-path">
					<rect width="39" height="27" fill="none" />
				</clipPath>
			</defs>
			<g
				id="Gruppe_6"
				data-name="Gruppe 6"
				transform="translate(-149 -167)"
			>
				<g
					id="Ellipse"
					transform="translate(149 167)"
					fill="#000"
					stroke="#fff"
					stroke-miterlimit="10"
					stroke-width="1"
					opacity="0.4"
				>
					<circle
						cx="208"
						cy="208"
						r="208"
						stroke="none"
					/>
					<circle
						cx="208"
						cy="208"
						r="207.5"
						fill="none"
					/>
				</g>
				<g id="Gruppe_5" data-name="Gruppe 5">
					<g
						id="Arrow_Right_White"
						data-name="Arrow Right White"
						transform="translate(315 408)"
						clip-path="url(#clip-path)"
					>
						<path
							id="Path"
							d="M26.113,0l-1.7,1.985s7.122,7.147,10.174,9.926C23.882,11.8,0,11.912,0,11.912v2.382s23.89-.087,34.591,0c-3.052,3.176-10.174,10.324-10.174,10.324L26.113,27,39,13.1Z"
							fill="#f7f8fa"
						/>
					</g>
					<text
						id="check_new_look_books"
						data-name="check new look books"
						transform="translate(315 323)"
						fill="#fff"
						font-size="14"
						font-family="FuturaPT-Medium, Futura PT"
						font-weight="500"
						letter-spacing="0.26em"
					>
						<tspan x="0" y="14">CHECK</tspan>
						<tspan x="0" y="32">NEW</tspan>
						<tspan x="0" y="50">UX</tspan>
						<tspan x="0" y="68">EXPERIMENTS</tspan>
					</text>
				</g>
			</g>
		</svg>
	</a>
</div>
<div class="column xl-col-12">
	<h1 class="home-hero_001__heading" data-scroll data-scroll-speed="2">
		<span class="theme-color" data-scroll data-scroll-speed="5">
			My abillity to
			<span class="theme-highlight"
				>Overview Complex Situation</span
			>
			will help you to get inbound with
			<span class="theme-highlight">User Centrification</span>
		</span>
	</h1>
</div>
<div class="home-hero_001__copyright">
	<div class="home-hero_001__instagramm">
		<a href="https://www.instagram.com/yelrom_/" target="_blank"
			>instagram</a
		>
	</div>
	<div class="home-hero_001__contact">
		<a href="mailto:m-morley@gmx.de?subject=Say%20hello!"
			>contact</a
		>
	</div>
</div>
</div>
</div>
<section class="hero_blockqoute" data-scroll>
<div class="row">
<div class="column large-8">
	<div data-scroll data-scroll-delay=".24" data-scroll-speed="8" class="hero_blockqoute__rte rte">
		<blockquote>
			About Me Hi, i am Markus Morley. Desiging, living and working in Frankfurt am Main. i love design. build ux prototypes. develop frontend components for atomic design. develop and create digital projects for a large scale approach
			<cite data-scroll data-scroll-speed="2">
				—> About me
			</cite>
		</blockquote>
	</div>
</div>
<div class="column large-4">
	<div class="hero_blockqoute__image-wrapper" >
		<img data-scroll  data-scroll-speed="2" class="" src="/assets/images/photography/black/Black_007.jpg" alt="Placeholder">
	</div>
</div>
</div>
</section>

<section class="teaser_text_horizontal">
<div class="teaser_text_horizontal_rte rte" data-scroll data-scroll-speed="3">
<h4
	data-scroll
	data-scroll-direction="horizontal"
	data-scroll-speed="-2"
>
Travelling leaves you speechless

</h4>
<h2
	data-scroll
	data-scroll-direction="horizontal"
	data-scroll-speed="3"
>
	Then it turns you to a storyteller
</h2>

<cite>— Ibn Battuta</cite>
</div>
</section>

<section class="section section_lerp">
<div class="lerp">
<div class="row">
	<div class="column small-5">
		<div class="lerp__block-infos" data-scroll>
			<div class="lerp__block-infos-inner" data-scroll data-scroll-offset="400" data-scroll-repeat>
				<h3>
					03. <br>
					Lerp elements
				</h3>
				<div class="lerp__block-infos-text">
					<p>
						Stagger those smooth animations using delays to create a rushing or dragging effect.
					</p>
				</div>
			</div>
			<div class="lerp__block-infos-inner" data-scroll data-scroll-offset="400" data-scroll-repeat>
				<h3>
					03. <br>
					Lerp elements
				</h3>
				<div class="lerp__block-infos-text">
					<p>
						Stagger those smooth animations using delays to create a rushing or dragging effect.
					</p>
				</div>
			</div>
			<div class="lerp__block-infos-inner" data-scroll data-scroll-offset="400" data-scroll-repeat>
				<h3>
					03. <br>
					Lerp elements
				</h3>
				<div class="lerp__block-infos-text">
					<p>
						Stagger those smooth animations using delays to create a rushing or dragging effect.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column small-7">
		<div class="lerp__block">
			<span class="lerp__block-index" data-scroll data-scroll-delay="0.2" data-scroll-speed="6" data-scroll-call="dynamicColor" data-scroll-repeat>
				01
			</span>
			<span class="lerp__block-title" data-scroll data-scroll-delay="0.6" data-scroll-speed="6">
				<span>
					I have a lerp
				</span>
			</span>
		</div>
		<div class="lerp__block">
			<span class="lerp__block-index" data-scroll data-scroll-delay="0.6" data-scroll-speed="6" data-scroll-call="dynamicColor" data-scroll-repeat>
				02
			</span>
			<span class="lerp__block-title" data-scroll data-scroll-delay="0.1" data-scroll-speed="6">
				<span>
					Me too! <br>
					And even more
				</span>
			</span>
		</div>
		<div class="lerp__block">
			<span class="lerp__block-index" data-scroll data-scroll-delay="0.6" data-scroll-speed="6" data-scroll-call="dynamicColor" data-scroll-repeat>
				03
			</span>
			<span class="lerp__block-title" data-scroll>
				<span data-scroll data-scroll-delay="0.13" data-scroll-speed="6">B</span>
				<span data-scroll data-scroll-delay="0.12" data-scroll-speed="6">y</span>
				<span data-scroll data-scroll-delay="0.11" data-scroll-speed="6"> </span>
				<span data-scroll data-scroll-delay="0.1" data-scroll-speed="6">L</span>
				<span data-scroll data-scroll-delay="0.09" data-scroll-speed="6">e</span>
				<span data-scroll data-scroll-delay="0.08" data-scroll-speed="6">t</span>
				<span data-scroll data-scroll-delay="0.07" data-scroll-speed="6">t</span>
				<span data-scroll data-scroll-delay="0.06" data-scroll-speed="6">e</span>
				<span data-scroll data-scroll-delay="0.05" data-scroll-speed="6">r</span>
			</span>
		</div>
		<div class="lerp__block">
			<span class="lerp__block-index" data-scroll data-scroll-delay="0.03" data-scroll-speed="6" data-scroll-call="dynamicColor" data-scroll-repeat>
				04
			</span>
			<span class="lerp__block-title" data-scroll data-scroll-delay="0.04" data-scroll-speed="6">
				<span>
					Soooo smooooth
				</span>
			</span>
		</div>
	</div>
</div>
</div>
</section>
<div class="section teaser_img_mask_sticky" data-persistent>
<div class="o-container" id="fixed-elements">


<div class="row">
	<div class="column small-6">
		<div class="c-section_infos -padding" data-scroll data-scroll-sticky data-scroll-target="#fixed-elements">
			<div class="c-section_infos_inner" data-scroll data-scroll-offset="200">
				<h3>
					04. <br>
					Fixed elements
				</h3>
				<div class="c-sections_infos_text u-text">
					<p>
						Create slides that stick and untick to the viewport while scrolling through.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="column small-6">
		<div class="c-fixed_wrapper" data-scroll data-scroll-repeat>
			<div class="c-fixed_target" id="fixed-target"></div>
			<div class="c-fixed" data-scroll data-scroll-sticky data-scroll-target="#fixed-target" style="background-image:url('/assets/images/photography/black/Black_013.jpg')"></div>
		</div>
	</div>
</div>
</div>
</div>
<div class="teaser_img_mask_zoom">
<div class="image-mask"></div>
</div>
<div class="teaser_img_gallery">
<div id="pinSection" class="pinned-quote">
<blockquote data-scroll data-scroll-sticky data-scroll-target="#pinSection">
  “To me, photography is an art of observation.
  It’s about finding something interesting in
  an ordinary place… I’ve found it has little
  to do with the things you see and everything
  to do with the way you see them.”

	<cite>
	— Elliott Erwitt
	</cite>
</blockquote>
</div>

<div class="images-container">
<img src="/assets/images/photography/black/Black_013.jpg" alt="">
<img src="/assets/images/photography/black/Black_017.jpg" alt="">
<img src="/assets/images/photography/black/Black_016.jpg" alt="">
<img src="/assets/images/photography/black/Black_005.jpg" alt="">
<img src="/assets/images/photography/black/Black_003.jpg" alt="">
<img src="/assets/images/photography/black/Black_009.jpg" alt="">
<img src="/assets/images/photography/black/Black_010.jpg" alt="">
<img src="/assets/images/photography/black/Black_027.jpg" alt="">
</div>
</div>
<div class="template_footer">
<div class="image-wrapper">
<img  src="/assets/images/photography/black/Black_022.jpg" alt="">
</div>
<div class="copy">
<blockquote data-scroll-speed="3" data-scroll>
If a picture is worth a thousand words,
words must be priceless
</blockquote>
</div>
<p class="copyright" data-scroll-position="bottom" data-scroll-speed="2" data-scroll>&copy; Basic scolling, Markus Morley, 2020</p>
</div>
<div class="footer-dark">
<div class="container container-2x">
<div class="row">
	<div class="column xs-col-12 xl-col-12">
		<div class="footer-dark__hero">
			<div class="footer-dark__navigation">
				<div class="footer-dark__link" hidden>
					<a href="#">about</a>
				</div>
				<div class="footer-dark__link">
					<a href="portfolio.html">portfolio</a>
				</div>
			</div>
			<div class="footer-dark__image-001">
				<img
					data-scroll data-scroll-speed="6" data-scroll-delay="0.13"
					src="/assets/images/photography/black/Template_index_013.jpg"
					class="img-responsive"
					alt="Markus Morley"
				/>
			</div>
			<div class="footer-dark__image-002">
				<img
					data-scroll data-scroll-speed="12" data-scroll-delay="0.53"
					src="/assets/images/photography/black/Black_020.jpg"
					class="img-responsive"
					alt="Markus Morley"
				/>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container container-2x">
<div class="row">
	<div class="column xs-col-12 xl-col-12">
		<div class="footer-dark__copyright">
			<div class="footer-dark__instagramm">
				<a
					href="https://www.instagram.com/yelrom_/"
					target="_blank"
					>instagram</a
				>
			</div>
			<div class="footer-dark__owner">
				<a href="home.html">© 2020 Markus Morley</a>
			</div>
			<div class="footer-dark__scrollToTop">
				<div class="scrollToTopButton-js">scroll to top</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

</div>