---
layout: page.njk
title: Typography
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink: /typography/index.html
eleventyNavigation:
  key: typography
  order: 1
---

<div class="cursor"></div>
<h1 class="h1">H1 Heading Level 1</h1>
<h2 class="h2">H2 Heading Level 2</h2>
<h3 class="h3">H3 Heading Level 3</h3>
<h4 class="h4">H4 Heading Level 4</h4>
<h5 class="h5">H5 Heading Level 5</h5>

<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>. This is <sup>superscript</sup> text and this is <sub>subscript</sub> text. This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.</p>

<table class="table color-dark-color">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Eve</td>
			<td>Jackson</td>
			<td>94</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="column large-8">
		<h1 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 1<span class="text-light-gray d-block d-md-inline-block">(H1)</span></h1>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h1 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 1<span class="text-light-gray d-block d-md-inline-block">(H1)</span></h1>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>