---
layout: page.njk
title: Typography
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink: /typography/index.html
eleventyNavigation:
  key: typography
  order: 1
---

<div class="cursor"></div>
<h1 class="h1">H1 Heading Level 1</h1>
<h2 class="h2">H2 Heading Level 2</h2>
<h3 class="h3">H3 Heading Level 3</h3>
<h4 class="h4">H4 Heading Level 4</h4>
<h5 class="h5">H5 Heading Level 5</h5>

<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>. This is <sup>superscript</sup> text and this is <sub>subscript</sub> text. This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.</p>

<table class="table color-dark-color">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Eve</td>
			<td>Jackson</td>
			<td>94</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="column large-8">
		<h1 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 1<span class="text-light-gray d-block d-md-inline-block">(H1)</span></h1>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h1 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 1<span class="text-light-gray d-block d-md-inline-block">(H1)</span></h1>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h2 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 2<span class="text-light-gray d-block d-md-inline-block">(H2)</span></h2>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h2 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 2<span class="text-light-gray d-block d-md-inline-block">(H2)</span></h2>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h3 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 3<span class="text-light-gray d-block d-md-inline-block">(H3)</span></h3>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h3 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 3<span class="text-light-gray d-block d-md-inline-block">(H3)</span></h3>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h4 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 4<span class="text-light-gray d-block d-md-inline-block">(H4)</span></h4>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h4 class="text-extra-dark-gray alt-font font-weight-600">Heading Style 4<span class="text-light-gray d-block d-md-inline-block">(H4)</span></h4>
		<p class="text-medium line-height-30 text-medium-gray">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column">

		<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
						<div class="position-relative overflow-hidden w-100">
							<span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Dropcaps Style 01</span>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-lg-6 col-md-10 last-paragraph-no-margin">
						<!-- start dropcaps -->
						<p><span class="first-letter sm-padding-two-lr text-extra-dark-gray">M</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Simply dummy text of the printing and typesetting industry.</p>
						<!-- end dropcaps -->
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Blockquote Style 01</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- start blockquote -->
                        <blockquote class="border-color-deep-pink">
                            <p>Reading is not only informed by what’s going on with us at that moment, but also governed by how our eyes and brains work to process information. What you see and what you’re experiencing as you read these words is quite different.</p>
                            <footer>Jason Maria</footer>
                        </blockquote>
                        <!-- end blockquote -->
                    </div>
                </div>
            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="wow fadeIn bg-light-gray" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">List Style 01</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-10">
                        <ul class="p-md-0 list-style-1">
                            <li>Beautiful and easy to understand UI, professional animations</li>
                            <li>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                            <li>Present your services with flexible, convenient and multipurpose</li>
                            <li>Find more creative ideas for your projects </li>
                            <li>Unlimited power and customization possibilities</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Horizontal Separator</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-bottom w-100"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-80 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-3px width-60 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-5px width-40 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-top height-6px width-20 mx-auto"></div>
                        <!-- end separator line -->
                    </div>
                </div>
            </div>
        </section>
	</div>
</div>
<div class="row">
	<div class="column">
		<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Pricing Table Style 01</span>
                        </div>
                    </div>
                </div>
                <div class="row pricing-box-style1">
                    <!-- start pricing item -->
                    <div class="col-12 col-md-4 text-center md-margin-30px-bottom wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="pricing-box border border-color-extra-light-gray">
                            <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                                <!-- start pricing title -->
                                <div class="pricing-title text-center">
                                    <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="pricing-price">
                                    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Standard</span>
                                    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$250</h4>
                                    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
                                <ul class="list-style-11">
                                    <li>1 GB Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Manual Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="pricing-action margin-35px-top md-no-margin-top">
                                    <a href="#" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->
                    <!-- start pricing item -->
                    <div class="col-12 col-md-4 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="pricing-box border border-color-extra-light-gray">
                            <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                                <!-- start pricing title -->
                                <div class="pricing-title text-center">
                                    <i class="ti-briefcase icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="pricing-price">
                                    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Business</span>
                                    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$350</h4>
                                    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
                                <ul class="list-style-11">
                                    <li>2 GB Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Manual Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="pricing-action margin-35px-top md-no-margin-top">
                                    <a href="#" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->
                    <!-- start pricing item -->
                    <div class="col-12 col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="pricing-box border border-color-extra-light-gray">
                            <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-pading-40px-all">
                                <!-- start pricing title -->
                                <div class="pricing-title text-center">
                                    <i class="ti-world icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="pricing-price">
                                    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Ultimate</span>
                                    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$450</h4>
                                    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
                                <ul class="list-style-11">
                                    <li>Unlimited Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Auto Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="pricing-action margin-35px-top md-no-margin-top">
                                    <a href="#" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->
                </div>
            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Message Box Style 1</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- start message box item -->
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-info alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Info!</strong> Indicates a neutral informative change or action.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-warning alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Warning!</strong> Indicates a warning that might need attention.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                        </div>
                        <!-- end message box item -->
                    </div>
                </div>
            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">

	</div>
</div>