---
layout: page.njk
title: Typography
metaDescription: This is a sample meta description. If one is not present in your page/post's front matter, the default metadata.desciption will be used instead.
date: 2017-01-01T00:00:00.000Z
permalink: /typography/index.html
eleventyNavigation:
  key: typography
  order: 1
---

<div class="cursor"></div>
<h1 class="h1">H1 Heading Level 1</h1>
<h2 class="h2">H2 Heading Level 2</h2>
<h3 class="h3">H3 Heading Level 3</h3>
<h4 class="h4">H4 Heading Level 4</h4>
<h5 class="h5">H5 Heading Level 5</h5>

<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>. This is <sup>superscript</sup> text and this is <sub>subscript</sub> text. This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.</p>

<table class="table color-dark-color">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jill</td>
			<td>Smith</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Eve</td>
			<td>Jackson</td>
			<td>94</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="column large-8">
		<h1 class="">Heading Style 1<span class="">(H1)</span></h1>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h1 class="">Heading Style 1<span class="">(H1)</span></h1>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h2 class="">Heading Style 2<span class="">(H2)</span></h2>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h2 class="">Heading Style 2<span class="">(H2)</span></h2>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h3 class="">Heading Style 3<span class="">(H3)</span></h3>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h3 class="">Heading Style 3<span class="">(H3)</span></h3>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h4 class="">Heading Style 4<span class="">(H4)</span></h4>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h4 class="">Heading Style 4<span class="">(H4)</span></h4>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h5 class="">Heading Style 5<span class="">(H5)</span></h5>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h5 class="">Heading Style 5<span class="">(H5)</span></h5>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>
<div class="row">
	<div class="column large-8">
		<h6 class="">Heading Style 6<span class="">(H6)</span></h6>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
	<div class="column large-4">
		<h6 class="">Heading Style 6<span class="">(H6)</span></h6>
		<p class="">Ferri reque integre mea ut, eu eos vide errem noluisse. Putent laoreet et ius. <strong>Vel utroque dissentias ut,</strong> nam ad soleat alterum maluisset, cu est copiosae intellegat inciderint. Nam ei eirmod consequuntur, quod nostrum consectetuer usu ut. Vim veniam singulis senserit an, sumo consul mentitum duo ea. <u>Copiosae antiopam</u> ius ea, meis explicari reformidans vix cu.Ut possit patrioque prodesset est, vivendum concludaturque conclusionemque eam in.</p>
	</div>
</div>


<div class="row">
	<div class="column">

		<section class="">
			<div class="">

					<div class="">
						<div class="">
							<span class="">Dropcaps Style 01</span>
						</div>
					</div>


					<div class="">
						<!-- start dropcaps -->
						<p><span class="first-letter">M</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries. Simply dummy text of the printing and typesetting industry.</p>
						<!-- end dropcaps -->
					</div>

			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="">
            <div class="">

                    <div class="">
                        <div class="">
                            <span class="">Blockquote Style 01</span>
                        </div>
                    </div>


                    <div class="">
                        <!-- start blockquote -->
                        <blockquote class="">
                            <p>Reading is not only informed by what’s going on with us at that moment, but also governed by how our eyes and brains work to process information. What you see and what you’re experiencing as you read these words is quite different.</p>
                            <footer>Jason Maria</footer>
                        </blockquote>
                        <!-- end blockquote -->
                    </div>

            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="">
            <div class="">

                    <div class="">
                        <div class="">
                            <span class="">List Style 01</span>
                        </div>
                    </div>

                    <div class="">
                        <ul class="">
                            <li>Beautiful and easy to understand UI, professional animations</li>
                            <li>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                            <li>Present your services with flexible, convenient and multipurpose</li>
                            <li>Find more creative ideas for your projects </li>
                            <li>Unlimited power and customization possibilities</li>
                        </ul>
                    </div>

            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="">
            <div class="">

                    <div class="">
                        <div class="">
                            <span class="">Horizontal Separator</span>
                        </div>
                    </div>

                    <div class="">
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-bottom w-100"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-80 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-3px width-60 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-5px width-40 mx-auto"></div>
                        <!-- end separator line -->
                        <!-- start separator line -->
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-top height-6px width-20 mx-auto"></div>
                        <!-- end separator line -->
                    </div>

            </div>
        </section>
	</div>
</div>
<div class="row">
	<div class="column">
		<section class="">
            <div class="">

                    <div class="">
                        <div class="">
                            <span class="">Pricing Table Style 01</span>
                        </div>
                    </div>

                    <!-- start pricing item -->
                    <div class="">
                        <div class="">
                            <div class="">
                                <!-- start pricing title -->
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="">
                                    <span class="">Standard</span>
                                    <h4 class="">$250</h4>
                                    <div class="">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="">
                                <ul class="">
                                    <li>1 GB Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Manual Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="">
                                    <a href="#" class="">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->
                    <!-- start pricing item -->
                    <div class="">
                        <div class="">
                            <div class="">
                                <!-- start pricing title -->
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="">
                                    <span class="">Business</span>
                                    <h4 class="">$350</h4>
                                    <div class="">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="">
                                <ul class="">
                                    <li>2 GB Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Manual Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="">
                                    <a href="#" class="">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->
                    <!-- start pricing item -->
                    <div class="" data-wow-delay="0.4s">
                        <div class="">
                            <div class="">
                                <!-- start pricing title -->
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <!-- end pricing title -->
                                <!-- start pricing price -->
                                <div class="">
                                    <span class="">Ultimate</span>
                                    <h4 class="">$450</h4>
                                    <div class="">Per Month</div>
                                </div>
                                <!-- end pricing price -->
                            </div>
                            <!-- start pricing features -->
                            <div class="">
                                <ul class="">
                                    <li>Unlimited Photos</li>
                                    <li>Secure Online Transfer</li>
                                    <li>Unlimited Styles</li>
                                    <li>Customer Service</li>
                                    <li>Auto Backup</li>
                                </ul>
                                <!-- start pricing action -->
                                <div class="">
                                    <a href="#" class="">Choose Plan</a>
                                </div>
                                <!-- end pricing action -->
                            </div>
                            <!-- end pricing features -->
                        </div>
                    </div>
                    <!-- end pricing item -->

            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">
		<section class="">
            <div class="">

                    <div class="">
                        <div class="">
                            <span class="">Message Box Style 1</span>
                        </div>
                    </div>

                    <div class="">
                        <!-- start message box item -->
                        <div class="">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-info alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Info!</strong> Indicates a neutral informative change or action.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-warning alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Warning!</strong> Indicates a warning that might need attention.
                        </div>
                        <!-- end message box item -->
                        <!-- start message box item -->
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                        </div>
                        <!-- end message box item -->
                    </div>

            </div>
        </section>
	</div>
</div>

<div class="row">
	<div class="column">

	</div>
</div>