@import "hero_blockqoute";
@import "teaser_text_horizontal";
@import "teaser_img_mask_sticky";
@import "teaser_img_mask_zoom";
@import "teaser_img_gallery";
@import "section_lerp";
@import "template_footer";
@import "hero_home_001";
@import "teaser_project";
@import "core_navigation";
@import "core_footer-dark";
@import "nav_image_hover";
body {
	display: flex;
	flex-direction: column;
  }
.main_content {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
  }

::selection {
	  color: black;
	  background-color: yellow
	 }
p::selection {
	  color: black;
	  background-color: white;
	 }