@import "hero_blockqoute";
@import "teaser_text_horizontal";
@import "teaser_img_mask_sticky";
@import "teaser_img_mask_zoom";
@import "teaser_img_gallery";
@import "section_lerp";
@import "template_footer";
@import "hero_home_001";
@import "teaser_project";
@import "core_navigation";
@import "core_footer-dark";
@import "nav_image_hover";

.headroom {
    will-change: transform;
	transition: transform 800ms ease-in-out;

}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
