.teaser_img_mask_zoom {
	height: 100vh;
	display: grid;
	place-content: center;
	padding: 0 1rem;


	.image-mask {
		width: 80vw;
		height: 80vh;
		background: url('/assets/images/photography/black/Black_025.jpg');
		// background-attachment: fixed;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 90%;
		background-size: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

}