
.project {
	// margin-top: 500px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .project-image {
	position: absolute;
	width: 100%;
  }

  .image-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 70vh;
	left: 50%;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	z-index: 10;
	overflow: hidden;
  }

  .image-container > img {
	// height: 100%;
	object-fit: cover;
  }

  .project-content {
	//   background-color: blue;
	width: 80%;
	color: #fff;
	position: absolute;
	display: grid;
	// margin: 0px 10vw;
	grid-template-columns: 10% 50% auto auto;
	justify-items: start;
	align-items: center;
	z-index: 100;
  }

  .project--heading {
	//   background-color: blue;
	//   height: 80px;
	overflow: hidden;
	font-size: 5rem;
	font-weight: lighter;
	display: flex;
  }

  .project--number {
	display: flex;
  }

  .project--role,
  .project--work {
	  padding-left: 400px;
	word-break: word-break;
	text-align: left;
  }