
.project {
	// margin-top: 500px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -4em;
  }

  .project-image {
	position: absolute;
	width: 100%;
  }

  .image-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 70vh;
	left: 50%;
	top: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	z-index: 10;
	overflow: hidden;
	mix-blend-mode: multiply;
  }

  .image-container > img {
	// height: 100%;
	object-fit: cover;
	mix-blend-mode: multiply;
  }

  .project-content {
	color: color("primary");
	width: 80%;
	position: absolute;
	display: grid;
	// margin: 0px 10vw;
	grid-template-columns: 10% 50% auto auto;
	justify-items: start;
	align-items: center;
	z-index: 100;
  }

  .project--heading {
	//   background-color: blue;
	//   height: 80px;
	overflow: hidden;
	font-size: 5rem;
	font-weight: lighter;
	display: flex;
	animation: glow 1s ease-in-out infinite alternate;
  }

  .project--heading--span {
	background-color: color("secondary");
  }

  .project--number {
	display: flex;
  }

  .project--role,
  .project--work {
	  padding-left: 400px;
	word-break: word-break;
	text-align: left;
  }

 @keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px color("primary"), 0 0 40px color("light-color"), 0 0 50px color("light-color"), 0 0 60px color("light-color"), 0 0 70px color("light-color");
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px color("primary"), 0 0 40px color("primary"), 0 0 50px color("primary"), 0 0 60px color("primary"), 0 0 70px color("primary"), 0 0 80px color("primary");
	}
  }