<footer>
  <small>
    This project is maintained by <a href="https://www.markusmorley.de">Markus Morley</a>.
    Check out my <a href="{{ pkg.repository.url }}">GitHub account</a> or my <a href="https://www.instagram.com/yelrom_/">instagram account</a>.
  </small>
</footer>
