<div class="navigation headroom">
  <div class="container container-xl">
    <nav id="nav" class="navbar">
    <div class="row">
      <div class="column large-4">
          <div class="navbar__brand">
            <a href="{{ '/' | url }}">{{ metadata.title }}</a>
          </div>
      </div>
      <div class="column large-8">
          <div class="navbar__links">
            {% set navPages = collections.all | eleventyNavigation %}
            <div class="navbar__links_container">
            {%- for entry in navPages %}
              <div class="navbar__links_item"  data-text="{{ entry.title }}">
                {% if entry.url == page.url %}
                  <div class="button button-outline-dark" {% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</div>
                {% else %}
                  <a class="button button-outline-dark" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
                {% endif %}
              </div>
            {%- endfor %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
