
 <hr class="lines spacing-giant finbyz-zoomin">

 <div class="row">
	 <div class="column large-9">
		<div class="row">
			{% for post in postslist %}
				<div class="column large-12">
					<a href="{{ post.url | url}}">
						<div class="box_basic">
							<div class="box_basic__body">
								<p class="h5">{{ post.data.title2 }}</p>
								<h3>
									{{ post.data.title }}
								</h3>
								<img src="{{ post.data.featuredImage | url }}" alt="{{ post.data.featuredImage }}">
								<div class="rte">
									{{ post.data.description}}
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	 </div>
	 <div class="column large-3">

			{% for post in postslist %}

					<a href="{{ post.url | url}}">
						<div class="box_basic">
							<div class="box_basic__body">
								<p class="h5">{{ post.data.title2 }}</p>
								<h3>
									{{ post.data.title }}
								</h3>
								<div class="rte">
									{{ post.data.description}}
								</div>
							</div>
						</div>
					</a>

			{% endfor %}

	 </div>
 </div>
